footer{
    color:gray;
    width: 100%;
    margin-top: 10%;
    padding-bottom: 10%;
    background-color: whitesmoke;
    background-image: url("images/bg8mob.svg");
    background-repeat: no-repeat;
}
footer hr{
    width:100%;
    margin-top:3%;
}
footer .container{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    display: flex;
    flex-direction: column;
}
.footer-header{
    width: 100%;
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-nav{
    width:15%;
    display:flex;
    justify-content: space-between;
}
.footer-box{
    margin-top:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

@media screen and (max-width:700px){
    footer{
        color:gray;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 10%;
        background-color: whitesmoke;
        background-image: url("images/bg8mob.svg");
        background-repeat: no-repeat;
        background-size: initial;
        background-position:contain;
    }
    footer .container{
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-nav{
        margin-top:5%;
        width:40%;
        display:flex;
        justify-content: space-between;
    }
    .footer-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
