form{
    margin-top:5%;
}
.section{
    width:40%;
    margin-left:30%;
    margin-right:30%;
    display:flex;
    flex-direction: column;
}
.section button{
    padding-top:1%;
    padding-bottom:1%;
    margin-top:1%;
}
@media screen and (max-width:700px){
    .section{
        width:80%;
        margin-left:10%;
        margin-right:10%;
        display:flex;
        flex-direction: column;
    }
}
    
